body{
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #f4f6f8;
}

header {
    background-color: red;
    color: white;
    /* UBAH DI SINI: 100px untuk atas-bawah, 0 untuk kiri-kanan */
    padding: 150px 0; 
    text-align: center;
    background-position: center;
    background-size: cover;
    background-image: url("images/banner.png");
}

nav {
      background-color: #34495e;
      padding: 10px;
      text-align: center;
      position: sticky;
      z-index: 999;
      top: 0;
    }

nav a {
    color: #f4f6f8;
    margin: 0 15px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.35s ease;
}

nav a:hover{
    background-color: #f1f5f9;
    color: #0f172a;
}